<app-header></app-header>
<img src="assets/negado.png" alt="Reprovado"/>
<div>

    <h1>Proposta N° 00001</h1>
    <h2>Infelizmente não foi possível aprovar seu financiamento.<br aria-hidden="true"/>
    Não desanime, reunimos algumas dicas que podem ajudar na sua próxima simulação:</h2>
  
    <ul class="list-group">
      <li class="list-group-item">Mantenha seu CPF em dia e sem restrições.</li>
      <li class="list-group-item">Dados do endereço, e-mail, telefone sempre atualizados.</li>
      <li class="list-group-item">Melhore seu relacionamento com o banco, movimentando sua conta.</li>      
    </ul>
  
    <br aria-hidden="true"/>
  
    <button [routerLink]="['']" type="button" class="btn btn-success btn-lg">Ir para a tela inicial</button>
  
  </div>
